doctype html
html(lang="it")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        style.
            .red{
                background-color: #E84C50;
            }
            .full-width{
                width: 100%;
            }
    body(bgcolor="#ededed" style="background-color: #ededed;margin: 10px; padding: 10px;")
    div(style="background-color: #ffffff;width=100%;  border-radius: 4px;")
        p &nbsp;
        h3 Segnalazioni sospese
        p Ciao #{dato.autore}, le seguenti segnalazioni sono in attesa di una tua conferma.
        p Aggiorna dove è possibile le segnalazioni di tua competenza.
        p &nbsp;
    table(style="background-color: #ffffff;",width="90%", cellpadding="4", cellspacing="2", align="center", border="1", id="backgroundTable")
              tr
               th Issue
               th Giorni Trascorsi
               th(width="680",  valign="top") Oggetto
              - var itemO = dato.oggettiIssues
              - var itemG = dato.giorniTrascorsi
              - each itemI,i  in dato.issues
               tr
                td #[a(href="https://gestioneprogetti.csea.it/issues/#{itemI}") #{itemI}] 
                td #{itemG[i]}
                td(width="600") #{itemO[i]}

    span(style="font-size: 22px; font-family: Arial, sans-serif; color: #222222;") Grazie per l'attenzione!
    div(style="margin-top: 30px;")
            img( style="width:80px;" src="cid:logo_colori")
            p 
            b CSEA - Area Sistemi Informativi
