extends layout
block content
    script(src='/scripts/consultaRapid.js')
    div.container
     .page-header
       h4 #{title}
       small &nbsp;Parametro di default : #{tempo}  
       small(id="paramID")
     .row 
      .col-md-2
       p(id="output") output
      .col-md-10
        div.container
          p Consulta
     ul(id="guide")
     .row 
      .col-md-2
        .form-group
         select(id="getTipologie", name="type").form-control
       .col-md-10
          p 
           a.btn.btn-primary(id='checkAll') Seleziona Tutti 
           a.btn.btn-primary(id='deCheckAll') Deseleziona Tutti  
      table(id="idTabella", class="table table-condensed table-hovered table-striped")
          thead 
           tr
            th id
            th Autore    
            th Assegnato
            th GiorniTrascorsi
            th Ult.Aggior
            th Tipologia
            th subject
            th Mail
          tbody   
           - each item in result
            tr
             td #[a(href="https://gestioneprogetti.csea.it/issues/#{item['id']}") #{item['id']}]     
             td #{item['Autore']}
             td #{item['Assegnato']}
             td #{item['GiorniTrascorsi']}
             td #{item['updated_on']}
             td #{item['name']}
             td #{item['subject']}
             td 
              label.form-checkbox
               span.fa.fa-check #{item['id']}
               input#remember(type='checkbox', name=item['Autore'])
        a.btn.btn-primary(id='send_by_button') Invia      
    
    div(id="flash", class="alert alert-success")
     button(type="button" class="close" data-dismiss="alert") &times;
     span

mixin boxCheck(item)
    input#item.id(type='checkbox', name=item.id)
    span #{item['id']}
        block