extends layout
block content
    script(src='/scripts/ticketPriorita.js')
    div.container
     .page-header
       h4 #{title}
       small Welcome to  parametro di default : #{tempo}
    div(align="center")
     ul(id="guide")
           table(id="BuyOrders", class="table table-condensed table-hovered table-striped")
            thead
             tr
              th id     
              th topoligia
              th name
              th subject
              th Autore
              th Assegnato A
              th created_on
              th start_date
              th status
              th value
              th priority
            tbody     
             - each item in result
              tr
               td #[a(href="https://gestioneprogetti.csea.it/issues/#{item['id']}") #{item['id']}]     
               td #{item['topoligia']}
               td #{item['name']}
               td #{item['subject']}
               td #{item['Autore']}
               td #{item['Assegnato A']}
               td #{item['created_on']}
               td #{item['start_date']}
               td #{item['status']}
               td #{item['value']}
               td #{item['priority']}

           