extends layout
block content
    script(src='/scripts/verificaIssues.js')
    div.container
    .page-header
     h4 #{title}
     p La funzionalità ha l'obiettivo di inviare notifiche agli utenti aggregando le informazioni
     small &nbsp;Parametro di default : #{tempo}  
     small(id="paramID")
    .row 
     .col-md-2
      p(id="output") output
     .col-md-10
       div.container
         p Invia le segnalazioni che l'utente CSEA deve verificare
         p ToDo - Aggiungere "richieste altre informazioni"
    .row 
       .col-md-2
         p Comandi: 
        .col-md-10
           p 
            a.btn.btn-primary(id='checkAll') Seleziona Tutti 
            a.btn.btn-primary(id='deCheckAll') Deseleziona Tutti  
      
    ul(id="guide")  
    table(id="idTabella", class="table table-condensed table-hovered table-striped")
          thead 
           tr
            th id
            th Autore    
            th Assegnato
            th GiorniTrascorsi
            th Ult.Aggior
            th Tipologia
            th subject
            th Mail
          tfoot
           tr
            th id
            th Autore    
            th Assegnato
            th GiorniTrascorsi
            th Ult.Aggior
            th Tipologia
            th subject
            th Mail
          tbody   
           - each item in result
            tr
             td #[a(href="https://gestioneprogetti.csea.it/issues/#{item['id']}") #{item['id']}]     
             td #{item['Autore']}
             td #{item['Assegnato']}
             td #{item['GiorniTrascorsi']}
             td #{item['updated_on']}
             td #{item['name']}
             td #{item['subject']}
             td 
              label.form-checkbox
               span.fa.fa-check #{item['id']}
               input#remember(type='checkbox', name=item['Autore'])
        a.btn.btn-primary(id='send_by_button') Invia   
 
        
    div(id="flash", class="alert alert-success")
       button(type="button" class="close" data-dismiss="alert")&times;
       span

mixin boxCheck(item)
    input#item.id(type='checkbox', name=item.id)
    span #{item['id']}
        block